[report]
omit =
        ./mining/tests/*
        ./mining/config/appsettings*
        ./mining/config/database_secrets/*
[html]
omit =
        ./mining/tests/*
        ./mining/config/appsettings*
        ./mining/config/database_secrets/*
